@charset "UTF-8";
/* aside */
#aside {
    position: fixed;
    float: left;
    width: 200px;
    margin: 0px 5px;
}


#aside_cate{
    line-height: 30px;
    float: left;
    width: 150px;
    text-align: left;
    padding: 30px 30px;
    box-shadow: 5px 5px 15px 0px rgb(224 224 224);
    border-top: 5px solid rgb(253, 213, 59);
    background-color: #fff;
}


#aside_img {
    float: right;
}

#aside_cate_coummunity>ul>li{
    margin-bottom: 5px;
}


/* 전체/인기/조회순 글목록으로 가는 버튼 */
#list_button{
    width: 1000px;
    margin-top:33px;      
}

#list_button>ul{
    width:600px;
    text-align: left;
}

#list_button>ul>button{
    margin-right: 50px;
    width: 80px;
    height: 40px;
    background-color: #fff;
    border: none;
    border-bottom: 1px solid black;
    /* border-radius: 5px; */
    text-align: right;
    font-size: 20px;
}

#list_button>ul>a{
    margin-right: 25px;
    width: 80px;
    height: 40px;
    background-color: #fff;
    border-bottom: 1px solid black;
    /* border-radius: 5px; */
    text-align: right;
    font-size: 17px;
}

#list_button>ul>button>img{
   margin-right: 5px;
}


/* 검색 영역 */
#search_area{
    margin-top: 20px;

}

.search{    
    float:left;
}


.search>input{ 
    line-height: 25px;
    padding-top: 1px;
    padding-bottom: 0.2px; 
    border: 1px solid black;
    size: 20px;
}

.content_select{
    width: 80px;
    height: 34px;
    float: right;
}

/* 게시판 리스트 */
#board_list{
    margin-top: 15px;
}


#board_list table {
    width: 100%;    
    border-collapse: collapse;
    border-top: 1px solid black;

}

#board_list table>thead>tr>th {
    background-color: #dddddd;
    border-bottom: 1px solid black;
    height: 40px;
    font-size: 17px;
}

#board_list table>tbody>tr {
    border-bottom: 1px solid #b9b9b9;    
}

#board_list table>tbody>tr>td {
    padding: 2px 0px 2px 0px;
    border-bottom: 1px solid #b9b9b9;  
    border-right: 1px ;  
}

.img {
    width:100%;
    height: 60px;
    margin-bottom: -4px;
}

#board_list tbody>tr:hover{
    background-color: rgb(253, 213, 59);
    color: #fff;
}


/* 페이징 */
#pager {    
    margin-top: 70px;
    text-align: center;     
}


#pager ul {    
   width: 190px;
   display: inline-block;   
}

#pager ul>li {
   float: left;
   margin: 0px 5px 0px 0px;   
}



/* 글쓰기 버튼 */
.submit_button{
    margin-top: 15px;
}




/* 현재 클릭한 곳(페이징,aside) */
a.active {
    font-size: 15px;
    font-weight: bold;
    color: #000000;
    text-decoration: underline;
 }
 
 
 


/*******************************************샘플 나중에 데이터 넣어서 해야할듯*/
#btnNick{
	position: relative;
/* 	position: absolute;  */
}

#nick_modal {
    display: none;
    position: absolute; 
    left: 25%;
    z-index: 1000;
    background-color: #fff;
    border: 1px solid #b9b9b9;
    border-bottom: none;
}


#nick_modal_list {
	width: 90px;
	height: 70px;
    background:#fff;
    border:1px solid #b9b9b9;
    border-top:none;
   	text-align: left;
}



#nick_modal>ul>li{
	line-height: 20px;
	margin-top: 1px;
	border-bottom: 1px solid #b9b9b9;
}

.nickName{
	cursor: pointer;
}




.nick_modal {
/*     display: none; */
    position: absolute; 
    left: 25%;
    z-index: 1000;
    background-color: #fff;
    border: 1px solid #b9b9b9;
    border-bottom: none;
} 


.nick_modal_list {
	position: absolute; 
	width: 90px;
	height: 70px;
    background:#fff;
    border:1px solid #b9b9b9;
    border-top:none;
   	text-align: left;
}



.nick_modal>ul>li{
	line-height: 20px;
	margin-top: 1px;
	border-bottom: 1px solid #b9b9b9;
}