@charset "UTF-8";


/* 수정/ 삭제/ 목록 버튼 */
#update_button{
    width: 100%;    
}

#update_button>ul{
    width:1048px;
    text-align: right;
}

#update_button>ul>a{
    margin-left: 50px;
}


/* 글 읽기 폼 */
#read_area{
    margin-top: 20px;
    border: 1px solid black;
}

#read_area>div>h3{
    line-height: 50px;
    font-size: 30px;
    border-bottom: 1px solid #b9b9b9;
}

.user_information{
    margin-top: 10px;
    margin-bottom: 10px;
    padding-bottom: 10px;
    text-align: left;
    display: block;
    border-bottom: 1px solid #b9b9b9;
}

.user_information>span{
    margin-left: 10px;
    margin-right: 30px;    
}

#img_area>img{
    margin: 20px 250px 10px 250px;
    width: 500px;
    max-width: 700px;
    height: 500px;
    max-height: 700px;
    border: 1px solid black;
    display: block;
}


#text_area{
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #b9b9b9;
}

#text_area>span>p{
	margin-left: 120px;
	width: 800px;
}


/* 추천 반대 목록 버튼 */
#wrap_up_down{
    margin-bottom: 20px;
    height:20px;
    text-align: left;
}


.up_down {
    margin: 10px 20px 20px 20px;
    padding: 4px 14px 5px 14px;
    border: 1px solid #808080;
    background-color: rgb(224,224,224);
    border-radius: 2px;
    font-size: 15px;
    border-radius: 5px;
    border: none;
}
    
.up_down:hover {
    background-color: rgb(253, 213, 59);
    color: #fff;
}

.back_button{
    margin: -5px 20px 0px 20px;
    padding: 4px 14px 5px 14px;
    border: 1px solid #808080;
    background-color: rgb(224,224,224);
    border-radius: 2px;
    font-size: 15px;
    border-radius: 5px;
    border: none;
    float: right;
}

.back_button:hover {
    background-color: rgb(253, 213, 59);
    color: #fff;
}


/* 이전/다음 글 */
#wrap_preview{
    padding-top: 5px;
    margin: 10px 0px 10px 0px;
    height: 50px;
    border-top: 1px solid #b9b9b9;
    border-bottom: 1px solid #b9b9b9;
}

.writing{
    padding-left: 20px;
    text-align: left;
}

.next{
    padding-right: 50px;
}


/* 댓글 쓰기 */
#comment{
    margin-bottom: 0px;
    padding-bottom: 10px;
    padding-left: 20px;
    border-bottom: 1px solid #b9b9b9;
    text-align: left;
}

#comment>div{
    margin-top: 5px;
    margin-bottom: 5px;
}
#comment>div>input{
    width: 890px;
    height: 50px;
    outline: none;
}


#comment>div>a{
    margin-left: 45px;
    padding: 18px 14px 18px 14px;
    border: 1px solid #808080;
    background-color: rgb(224,224,224);
    border-radius: 2px;
    font-size: 15px;
    border-radius: 5px;
    border: none;
   	cursor:pointer;
}


#comment>div>a:hover{
    background-color: rgb(253, 213, 59);
    color: #fff;
}


/* 댓글 리스트 */
#comment_box{
    width: 1048px;
    height: 50px;
    margin-bottom: 5px;
}


#comment_box span{
	border-bottom:1px solid #b9b9b9;
}

#nick_box{
    line-height: 30px;
    width: 170px;
    margin-top: 10px;
    padding-left: 22px;
    text-align: left;
    float: left;
    border-bottom: 1px solid #b9b9b9;
}

#comment_content{
    line-height: 30px;
    width: 680px;
    margin-top: 10px;
    float: left;
    border-bottom: 1px solid #b9b9b9;
}

#write_date{
    line-height: 30px;
    margin-top: 10px;
    width: 128px;
    padding-right: 10px;
    float: left;
    text-align: right;
    border-bottom: 1px solid #b9b9b9;
}

#delete_comment{
    line-height: 30px;
    width: 30px;
    margin-top: 10px;
    margin-left: -5px;
    padding-right: 13px;
    float: left;
    border-bottom: 1px solid #b9b9b9;
}

#delete_comment img{
    width: 15px;
    height: 15px;
}


/******************************************/
.nick_box{
    line-height: 30px;
    width: 170px;
    margin-top: 10px;
    padding-left: 22px;
    text-align: left;
    float: left;
    border-bottom: 1px solid #b9b9b9;
}

.comment_content{
    line-height: 30px;
    width: 680px;
    margin-top: 10px;
    float: left;
    border-bottom: 1px solid #b9b9b9;
    text-align: left;
}

.write_date{
    line-height: 30px;
    margin-top: 10px;
    width: 128px;
    padding-right: 10px;
    float: left;
    text-align: right;
    border-bottom: 1px solid #b9b9b9;
}

.delete_comment{
    line-height: 30px;
    width: 30px;
    margin-top: 10px;
    margin-left: -5px;
    padding-right: 13px;
    float: left;
    border-bottom: 1px solid #b9b9b9;
}

.delete_comment>a>img{
    width: 15px;
    height: 15px;
}

/* 하단 여백 */
#blank{
    width: 100%;
    margin: 3px 0px 2px 0px;
}

/* 체감난이도 표현 색상 */
#star {
	color : rgb(253, 213, 59);
	font-size:18px;
}


/* 추천/비추천 */

#like{
	cursor:pointer;
}

#hate{
	cursor:pointer;
}
