<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">

<link href="../../../assets/css/common.css" rel="stylesheet" type="text/css">
<link href="../../../assets/css/aside.css" rel="stylesheet" type="text/css">
<link href="../../../assets/css/adminRecord.css" rel="stylesheet" type="text/css">

<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<link rel="stylesheet" href="http://code.jquery.com/ui/1.8.18/themes/base/jquery-ui.css">

<title>Insert title here</title>
</head>
<body>
	<!-- 헤더영역 -->
	<div id="header">
		<div id="header-item">
			<a><img id="logo" src="../../../assets/image/logo.jpg"></a>

			<div id="nav">

				<ul id="bar">
					<li><a href="">카페/테마</a></li>
					<li><a href="">예약</a></li>
					<li><a href="">파티구하기</a></li>
					<li><a href="">랭킹</a></li>
					<li><a href="">커뮤니티</a></li>
				</ul>


				<ul id="login_area">
					<li><a href="" class=""><img id="" src="../../../assets/image/messageicon.jpg"></a></li>
					<li><a href="" class=""><img id="" src="../../../assets/image/alerticon.jpg"></a></li>
                    <li class="mypageLBtn"><a href="" class="btn_s">관리자페이지</a></li>
					<li class="mypageBtn"><a href="" class="btn_s">마이페이지</a></li>
					<li class="mypageBtn"><a href="" class="btn_s">로그아웃</a></li>
				</ul>
			</div>
			
		</div>
		
	</div>
	<!-- //헤더영역 -->


	<div id="wrap">
		<!-- content -->
		<div id="content">
	
	
			<div id="subheader" class="clearfix">
			<div id="subheader-title">
			<h2>랭킹</h2>
			</div>
			<div id="subheader-mintitle">관리자페이지 > 예약확인</div>



			</div>

            <!--Aside-->
            <div class="clearfix">
                <div id="aside">
        
                    <img id="aside_img" src="../../../assets/image/asideImg.png" width="35px" height="35px">
                
                    <div id="aside_cate">
                    
                        <ul>
                            <li>
                                예약
                                <ul class="aside_mini_cate">
                                    <li class="selected">&nbsp;-예약 확인</li>  <!-- 선택된 항목에 class="selected" 주면 underline,bolder -->
                                    <li>&nbsp;-예약 관리</li>
                                </ul>
                            </li>
                            <li>
                                기록
                                <ul class="aside_mini_cate">
                                    <li>&nbsp;-기록 입력</li>
                                    <li>&nbsp;-기록 관리</li>
                                </ul>
                            </li>
                            <li>카페 소개관리</li>
                            <li>카페 테마관리</li>
                        </ul>
                    
                    </div>
                    
                </div>
            </div>
            <!--//Aside-->


			<!-- contentMain -->
			<div id="contentMain">
			
			<!--컨텐츠 여기에 작성하세요 !!!!!!!!!-->
                <div id="record_table">
                    <table>
                        <tr>
                            <th>테마</th>
                            <th>예약날짜<input type="hidden"  id="datepicker"></th>
                            <th>시간</th>
                            <th>인원</th>
                            <th>예약자이름</th>
                            <th></th>
                        </tr>

                        <tr>
                            <td>비밀의화원 미드나잇</td>
                            <td>2021-08-27</td>
                            <td>12:30</td>
                            <td>3인</td>
                            <td>세일러문</td>
                            <td><span class="mypageBtn">입력</span></td>
                        </tr>

                        <tr>
                            <td>2021.07.08</td>
                            <td>싸인이스케이프 홍대점</td>
                            <td>2021070822</td>
                            <td>No hint</td>
                            <td>1인</td>
                            <td>탈출완료</td>
                        </tr>

                        <tr>
                            <td>2021.08.27</td>
                            <td>비밀의화원 미드나잇</td>
                            <td>57m 40s</td>
                            <td>3 hints</td>
                            <td>2인</td>
                            <td>탈출실패</td>
                        </tr>

                        <tr>
                            <td>2021.07.08</td>
                            <td>싸인이스케이프 홍대점</td>
                            <td>2021070822</td>
                            <td>No hint</td>
                            <td>1인</td>
                            <td>탈출완료</td>
                        </tr>

                        <tr>
                            <td>2021.07.08</td>
                            <td>싸인이스케이프 홍대점</td>
                            <td>2021070822</td>
                            <td>No hint</td>
                            <td>1인</td>
                            <td>탈출완료</td>
                        </tr>


                    </table>
                </div>
            
			<!-- contentMain -->
			
		</div>
	    <!-- //content -->
			
	</div>
			
    <!-- footer -->
    
    <div id="footer">
        상호 : 넥스트룸 | 대표자 : 1조 | 고객센터 : 02-3478-0008<br> 메일 : moon124@gmail.com | 주소 : 서울특별시 서초구 서초4동
        서초대로77길 13<br> Copyright © NEXTROOM All rights reserved.

    </div>
    
    <!-- //footer -->
	<!-- wrap -->
</body>

<script>
   $("#datepicker").datepicker({
        showOn:"button"
        , buttonImage: "http://jqueryui.com/resources/demos/datepicker/images/calendar.gif"
        ,buttonImageOnly: true
    });
</script>
    
    
</html>