@charset "UTF-8";

/* 게시글 테이블 */

#contentWrap {
    float: right;
    width: 1050px;
}


#themeModify_table {
    float: left;
    margin-bottom: 10px;
}

#themeModify_table>table {
    border-collapse: collapse;
    border-top: 1px solid #b9b9b9;
    width: 1050px;
}

#themeModify_table td, #themeModify_table th {
    border-bottom: 1px solid #b9b9b9;
    height: 50px;
}

.theme_no {
    width: 150px;
}

.theme_name {
    width: 750px;
}

.themeNo {
    zoom: 1.2;
}
/* *************** */



#admin_subHeader {
    font-size: 24px;
    font-weight: bolder;
    text-align: left;
    margin-bottom: 15px;
}

#adminTheme_subHeader {
    font-size: 24px;
    font-weight: bolder;
    text-align: left;
    margin-bottom: 15px;
    width: 850px;
    display: inline-block;
}

#themeSelect {
	float: right;
	box-sizing: border-box;
}

#themeModify_button {
    float: right;
}



/* 카페 수정 */
#cafe_mainImg, #add_cafeInterior img{
    width: 300px;
    height: 200px;
    box-sizing: border-box;
}

#cafe_mainImg_wrap {
    float: left;
}


.scroll-image img {
    display: inline-block;
    height: 200px;
}

.scroll-image{
    width: 320px;
    height: 200px;
    text-align: left;
    overflow-y: auto;
}


.cafe_upIcon {
    width: 25px;
    vertical-align: bottom;
    margin-right: 5px;
}

.cafeModi_button {
    border: none;
    background-color: #fff;
}

.cafeModi_button:hover {
    cursor: pointer;
}

#cafe_interior_wrap {
    float: right;
}

.cafe_up_wrap {
    margin-top: 10px;
}


.cafModi_subTitle{
    font-weight: bold;
    font-size: 20px;
}


#cafeModi_img {
    margin-top: 50px;
    padding: 0px 150px;
}

#cafe_explain_wrap {
    margin-top: 50px;
    text-align: left;
}

.cafe_explain_item {
    margin-bottom: 30px;
}

.cafe_explain_item textarea, .cafe_explain_item p{
    float: left;
}

.cafe_explain_item p{
    width: 155px;
}

.cafe_explain_item textarea{
    box-sizing: border-box;
    width: 750px;
    height: 120px;
}


.cafeNameWrap {
    margin-bottom: 30px;
}

.cafeNameWrap p{
    float: left;
    width: 155px;
}

#cafeName {
    box-sizing: border-box;
    width: 750px;
    float: left;
    height: 30px;
}


/* 주소검색 영역 */

.address_search input {
    width: 180px;
    height: 30px;
    margin-right: 3px;
	box-sizing: border-box;
	vertical-align: middle;
}

#phoneNumber, #workTime input {
	width: 180px;
    height: 30px;
    box-sizing: border-box;
}

#searchBtn, #postcode {
	width: 90px; 

}

#cafeURL {
	width: 400px;
	height: 30px;
	box-sizing: border-box;
}


#searchBtn {
    background-color: rgb(224,224,224);
    cursor: pointer;
    color: #000;
    border: none;
    font-size: 12px;
    border-radius: 5px;
}

#searchBtn:hover {
    background-color: rgb(253, 213, 59);
    color: #fff;
}

#cafeModi_img p{
	margin-bottom: 5px;
}

#cafeModify_button, #addTheme_button {
	width: 1050px;
	margin-bottom: 10px;
}

/* 카페 테마관리 */

#themeModify_button {
    margin-bottom: 10px;
}

#themeModify_button button, #themeTime button{
	width: 90px;
	padding : 10px 0px;
}


/* 테마 추가 */

#theme_explain_wrap {
	margin-top: 10px;
}

#previewArea {
	width: 510px;
	height: 740px;
	border : 3px solid #e0e0e0;
	box-sizing: border-box;
	border-radius: 5px;
	padding: 25px 40px;
	float: left;
	margin-right: 50px;
}

#non-previewArea {
	float: left;
}


#previewArea img {
	width: 250px;
}

#theme_poster_wrap {
	width: 250px;
	margin: 0px 87px;
}

.addTheme_subTitle {
	font-size: 20px;
	font-weight: bold;
	text-align: left;
	margin-bottom: 5px;
	
}



.theme_explain_item {
    margin-bottom: 20px;
}

#themeTitle {
	width: 424px;
	height: 30px;
	box-sizing: border-box;
}

#previewArea_left {
	float:left;
	width: 200px;
}

#previewArea_right {
	float: right;
	width: 200px;
}


.cafe_explain_selectBox{
	width: 200px;
	height: 30px;
}

#themeExplain textarea{
	width: 240px;
	height: 120px;
	box-sizing: border-box;
}
	

#recommandMaxNum, #recommandMinNum{
	width: 80px;
	height: 30px;
}

#peopleMinNum, #peopleMaxNum {
	width: 100px;
	height: 30px;
}

#nonThemePrice {
	display: block;
}


#themePrice{
	display: none;
}

#themePrice label, #themeTime label, .timeWrap{
	display: block;
	margin: 5px 0px;

}

.priceWrap {
	margin-bottom: 5px;
}

.themePrice {
	width: 180px;
	height: 30px;
}

.headC{
	width: 35px;
	display: inline-block;
	text-align: left;
}

.non-previewArea_item {
	width: 240px;
	margin-bottom: 20px;
}

.themeTimeSelect {
	width: 175px;
	height: 30px;
}

.removeTime {
	width : 15px;
	display : inline-block;
}

.removeTime:hover {
	cursor: pointer;
}

#themeTimeWrap {
	margin-bottom: 10px;
}


#addThwme_formDiv {
	margin-bottom: 20px;
}

#btnPlayNum {
	margin-top: 10px;
}
