@charset "UTF-8";

/**************************** 관리자 예약확인 테이블 ******************************/
#record_table {
    float: left;
    margin-bottom: 10px;
}

#record_table>table {
    border-collapse: collapse;
    border-top: 1px solid #b9b9b9;
    width: 1050px;
}

#record_table td, #record_table th {
    border-bottom: 1px solid #b9b9b9;
    height: 50px;
}

.beforePlay {
    background-color: rgb(243, 235, 236);
}
/**********************************************************/




/*************************** 관리자 날짜, 테마 선택 *******************************/
#admin_reservation_date {
    float: left;
    margin: 0px 10px 20px 0px;
}

#admin_reservation_date .ui-datepicker td span,
#admin_reservation_date .ui-datepicker td a {
	padding: 8px 7px;
	text-align: center;
	font-size: 15px;
	margin: 5px 3px 0px 1px;
}

div.ui-datepicker { font-size: 15px; width: 400px; height: 330px;} 

#admin_reservation_themas table {
    font-size: 20px;
    font-weight: border;
    float: right;
    margin-right: 2px;
    border-collapse: collapse;
}

#admin_reservation_themas td {
    height: 110px;
    width: 208px;
    box-shadow: 1px 1px 3px 1px #dadce0;
}

.yellow_colorOn {
    background-color: rgb(253, 213, 59);
}

#admin_reservation_table_select {
    margin: 20px 0px 10px 0px;
    float: right;
}


#admin_reservation_table_select select {
    height: 25px;
    width: 100px;
    margin-left: 10px;
}
/****************************************************************/



/*************************** 페이징 *******************************/
#contentMain #paging {
	margin: 20px auto;
	width: 200px;
}

#paging ul {margin: 10px 5px 10px 5px;}
#paging ul>li{
	float: left;
	margin: 0px 8px 0px 8px;
}

#paging ul>li.active{
	font-size: 14px;
	font-weight: bold;
}

/**********************************************************/




/***************************** 모달 ******************************/
#admin_reserveitem_check_table {
    width: 1050px;
    font-size: 15px;
    border-top: 1px solid #b9b9b9;
    border-collapse: collapse;
    text-align: left;
    margin-bottom: 20px;
}

#reservation_thema_img {
    width: 350px;
}

#admin_reserveitem_check_table td, #admin_reserveitem_check_table th {
    border-bottom: 1px solid #b9b9b9;
    height: 50px;
}

#admin_reserveitem_check_table td>img {
    height: 270px;
    width: 200px;
    margin: 30px 70px;
}

#admin_reserveitem_table_item {
    padding: 20px 0px 20px 25px;
}

#admin_reserveitem_table_item #admin_reserveitem_check_table {
    width: 1000px;
}


#admin_reserve_Btns button {
    margin: 35px 10px 10px 0px;
}
/***********************************************************/

.beforePlay {
    background-color: rgb(243, 235, 236);
}

#admin_reservation_thema_time table {
    font-size: 20px;
    font-weight: border;
    float: right;
    margin-right: 2px;
    border-collapse: collapse;
}

#admin_reservation_thema_time td {
    height: 110px;
    width: 209px;
    box-shadow: 1px 1px 3px 1px #dadce0;
}

#admin_reserve_change_Btns button {
    margin-top: 30px;
    margin-left: 380px;
}

.timeover {
    color: #b9b9b9;
}

.reservePos {
    background-color: rgb(111, 206, 116);
}

.reserveImpos {
    background-color: rgb(252, 107, 52);
}

.reservation_completed {
    background-color: rgb(253, 213, 59);
}

#admin_reservation_thema_time_color {
    margin: 20px 0px 10px 0px;
    float: right;
}

#admin_reservation_thema_time_color>div {
    float: right;
    margin-left: 20px;
    height: 18px;
}

#whitebox, #yellowbox, #greenbox, #redbox {
    float: left;
    width: 18px;
    height: 18px;
    margin-right: 3px;
}

#whitebox {
    background-color: white;
    border: 1px solid #b9b9b9;
}

#yellowbox {
    background-color: rgb(253, 213, 59);
    border: 1px solid #b9b9b9;
}

#greenbox {
    background-color: rgb(111, 206, 116);
    border: 1px solid #b9b9b9;
}

#redbox {
    background-color: rgb(252, 107, 52);
    border: 1px solid #b9b9b9;
}