@charset "UTF-8";

#cafe_region_list {
    border-bottom: 1px solid #e0e0e0;
}

#cafe_map_img {
    height: 562px;
    width: 500px;
    margin-bottom: 25px;
}

#cafe_region {
    text-align: center;
    margin-bottom: 30px;
}


.cafe_img {
    float: left;
    margin-right: 15px;
}

.cafe_info{
    
    text-align: left;
    
}

#cafe_list{
    margin-left: auto;
    margin-right: auto;
    width: 1300px;
    
}

.cafe_list_item{
    padding: 0px 20px 20px 20px;
}


#cafe_search, #cafe_array {
    float: right;
    margin: 20px 0px 20px 5px;
    
}


