@charset "UTF-8";

/* 여백 초기화 */
body, div, ul, li, dl, dt, ol, h1, h2, h3, h4, h5, h6, 
input, fieldset, legend, p, select, table, th, td, tr,
textarea, button, form {margin: 0; padding: 0;}

/*폰트 바꾸려면 여기서*/
body   { font-size:12px; font-family: "맑은 고딕", 돋움, 굴림; text-align:center; color: #333; background-color: #fff;}

ul, ol   {list-style-type: none; }
a:link {text-decoration: none; color: #000000; }
a:visited {text-decoration: none; color: #000000; }
a:active {text-decoration: none; color: #000000; }
a:hover {text-decoration: none; color: #000000; }



/* 레이아웃 */
#wrap {margin: 0px auto; width: 1300px; background-color: #FFFFFF;  overflow: hidden;}
#header {width: 100%; height:50px;margin: 0px 0px 30px 0px; padding: 5px 0px 10px 0px; background-color: #FFFFFF; border-bottom:1px solid #b9b9b9; }
#nav {margin:0px 0px 0px 450px;  background-color: #FFFFFF; text-align:center;}
#content {min-height: 600px; width: 1300px; background-color: #FFFFFF; border-bottom: 1px solid #b9b9b9; padding-bottom: 20px; font-size:15px;}
#footer {width: 1300px;  background-color: #fff; color: #999; margin: 10px 0px;}
#header-item {width: 1300px; margin-left: auto; margin-right: auto;}


/* clearfix */
.clearfix{*zoom:1;}
.clearfix:before, .clearfix:after {display: block; content: ""; line-height: 0;}
.clearfix:after {clear: both;}



/******************* 헤더 header *******************/
/* 해더공통*/
#header{ 
    border-style: none;
     box-shadow: 0px 1px 15px 0px rgb(224 224 224);
     position: fixed;
     z-index: 999;
 }

 #header ul>li .btn_s {padding: 4px 6px 4px 6px;  font-size: 11px; text-align:center;}



 /* 해더로고*/
 #logo{float: left; width:200px;}



/* 해더네비 nav*/
#bar {float:left;}

#nav ul>li {left:200px;float: left; margin: 15px 0px 15px 0px; font-size: 18px; font-weight: bold; background-color: #FFFFFF;}

#bar>li{
    width: 100px;
}



/* 헤더로그인 관련*/
#login_area {
    float:right;
 }

 .mypageIcon{
    float:left;
    width:60px;
    height: 30px;
 }

 .mypageBtn {
    float:left;
    width: auto;
    height: 30px;
}

.mypageLBtn{
    float:left;
    width: 80px;
    height: 30px;
}
/***********************************************/




/******************* !!!메인페이지 이미지고민 필요!!! *******************/
#main_logo {
    margin: 150px 350px;
    width: 700px;
    height: 380px;
 }
/***********************************************/




/******************* 서브헤더 subheader *******************/
h2 {font-size: 30px;}

#subheader{
    text-align: left;
    border-bottom: 1px solid #b9b9b9;
    line-height: 40px;
    margin-bottom: 20px;
    margin-top: 110px;
}

#subheader>#subheader-title{
    float: left;
    margin-left: 18px;
    margin-bottom: 10px;
}

#subheader>#subheader-mintitle{
    float: right;
    padding-top: 10px;
}
/***********************************************/






/******************* 버튼관련 btn button *******************/
/*공통부분*/
.mbutton, .lbutton, .search_button, .submit_button {
    background-color: rgb(224,224,224);
    cursor: pointer;
}

.mbutton:hover, .lbutton:hover, .search_button:hover, .submit_button:hover {
    background-color: rgb(253, 213, 59);
    color: #fff;
}

.mbutton, .lbutton, .search_button, .submit_button {
    color: #000;
    border: none;
}
/*//공통부분*/



.mbutton {
    font-size: 15px;
    padding: 10px 30px;
    border-radius: 5px;
}

.lbutton {
    font-size: 15px;
    padding: 10px 100px;
    border-radius: 5px;
}

.search_button {
    padding: 4px 14px 5px 14px;
    font-size: 15px;
    border-radius: 5px;
}

.submit_button {
    float: right;
    margin-top: 10px;
    padding: 4px 14px 5px 14px;
    border-radius: 2px;
    font-size: 15px;
    border-radius: 5px;
}
/*************************************************/

