@charset "UTF-8";

#cafe_detail_modal {

    display: none;

    position: fixed;
    top: 0; 
    left: 0;
    width:100%;
    height:100%;
    z-index:1000;
}
  
#cafe_detail_modal h2 {
    margin:0;   
}
  
#cafe_detail_modal button {
    display:inline-block;
    margin-top: 15px;
    width:100px;
}
  
#cafe_detail_modal .cafe_detail_modal_content {
    width:500px;
    margin: 100px auto;
    padding:20px 10px;
    background:#fff;
    border:2px solid #666;
}
  
#cafe_detail_modal .cafe_detail_modal_layer {
    position: fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background:rgba(0, 0, 0, 0.5);
    z-index:-1;
}   

.stop-scroll{
    height: 100%;
    overflow: hidden;
  }
  
  
  
  
/*************************** 마이페이지 결제내역 모달창 ****************************/
#paymentDetail_modal,
#paymentDetail_modal_escapeComplete,
#admin_reserveitem_modal {

    display: none;

    position: fixed;
    top: 0px; 
    left: 0px;
    width:100%;
    height:100%;
    z-index:1000;
}
  
#paymentDetail_modal #modal_close_btn, 
#paymentDetail_modal_escapeComplete #modal_escapeComplete_close_btn,
#admin_reserveitem_modal #modal_close_btn {
    display:inline-block;
    margin-top: 15px;
    width:100px;
}
  
#paymentDetail_modal .paymentDetail_modal_content,
#paymentDetail_modal_escapeComplete .paymentDetail_modal_content {
    width:1050px;
    height: 650px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding:10px 10px;
    background:#fff;
    border:2px solid #666;
    overflow-y: auto;
}
  
#admin_reserveitem_modal .admin_reserveitem_modal_content {
    width:1050px;
    height: 550px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding:10px 10px;
    background:#fff;
    border:2px solid #666;
    overflow-y: auto;
}

#paymentDetail_modal .cafe_detail_modal_layer, 
#paymentDetail_modal_escapeComplete .cafe_detail_modal_layer,
#admin_reserveitem_modal .admin_reserveitem_modal_layer{
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background:rgba(0, 0, 0, 0.5);
    z-index:-1;
}   

.paymentDetail_modal_content #modal_close_btn,
.paymentDetail_modal_content #modal_escapeComplete_close_btn,
.admin_reserveitem_modal_content #modal_close_btn{
    float: right;
    margin-bottom: 20px;
    margin-top: 0px;
    margin-left: 10px;
}

.escape_record {
    color: red;
}

#paymentDetail_modal_escapeComplete span {
    font-size: 15px;
    margin: 50px;
}
/*******************************************************/



/**********************기록모달*************************/

#record_table_wrap{
	height: 500px;
}

#record_modal_table {
	width: 440px;
	font-size: 15px;
	border-top: 1px solid #b9b9b9;
	border-collapse: collapse;
	text-align: left;
	margin-left: 30px;
}


#record_modal_table tr{
	height: 30px;
}

.time_data input, .hints_data input{
	width: 70px;
	text-align: right;
}

.hints_data{
	height: 120px;
}

.red_x{
	color: red;
}


#admin_record_modal {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1000;
	
}

#admin_record_closemodal {
	display: inline-block;
	margin-top: 15px;
}

#admin_record_modal_layer {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.5);
	z-index: -1;
}

#admin_record_closemodal{
    float:right;
}

#record_modal_cotent{
    width: 500px;
	height: 650px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	padding: 10px 10px;
	background: #fff;
	border: 2px solid #666;
	overflow-y: auto;
}

