@charset "UTF-8";

#cafe_detail_modal {

    display: none;

    position: fixed;
    top: 0; 
    left: 0;
    width:100%;
    height:100%;
    z-index:1000;
}
  
#cafe_detail_modal h2 {
    margin:0;   
}
  
#cafe_detail_modal button {
    display:inline-block;
    margin-top: 15px;
    width:100px;
}
  
#cafe_detail_modal .cafe_detail_modal_content {
    width:500px;
    margin: 100px auto;
    padding:20px 10px;
    background:#fff;
    border:2px solid #666;
}
  
#cafe_detail_modal .cafe_detail_modal_layer {
    position: fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background:rgba(0, 0, 0, 0.5);
    z-index:-1;
}   

.stop-scroll{
    height: 100%;
    overflow: hidden;
  }