@charset "UTF-8";

#mypageMain {
    width: 1050px;
    float: right;
}


/********************************* aside **********************************/
#aside>ul>li{
    margin-bottom: 5px;
}

#aside>ul>li>ul>li{
    margin-left: 10px;
}

#aside_cate{
    line-height: 30px;
    float: left;
    width: 150px;
    text-align: left;
    padding: 30px 30px;
    box-shadow: 5px 5px 15px 0px rgb(224 224 224);
    border-top: 5px solid rgb(253, 213, 59);
    background-color: #fff;
}

#aside_img {
    float: right;
}

#aside {
    position: fixed;
    float: left;
    width: 200px;
    margin: 0px 5px;
}
/*******************************************************************/






/****************************** 마이페이지 메인부분 **********************************/
#reservation_check_table {
    width: 1050px;
    font-size: 15px;
    border-top: 1px solid #b9b9b9;
    border-collapse: collapse;
    text-align: left;
    margin-bottom: 20px;
}

#reservation_thema_img {
    width: 350px;
}

#reservation_check_table td, #reservation_check_table th {
    border-bottom: 1px solid #b9b9b9;
    height: 50px;
}

#reservation_check_table td>img {
    height: 270px;
    width: 200px;
    margin: 30px 70px;
}

#mypageTable_text {
    float: left;
    padding-bottom: 10px;
}

#myRank{
    padding: 20px 0px;
    border-radius: 15px;
    background-color: gold;
    margin-bottom: 30px;
    margin-top: 10px;
}


.myRank_area{
    text-align: center;
    padding-left: 100px;
    padding-right: 20px;
}   

.myRank_profile{
    height: 80px;
    width: 80px;
    border-radius: 50%;
}

.myRank_font{
	margin-top: 20px;
	font-size: 30px;
	font-weight: bolder;
}


/*******************************/
.f-left{
    float: left;
}

.m-left{
    margin-left: 50px;
}

.m-right{
    margin-right: 50px;
}

.rank_detail{
    text-align: left;
    line-height: 25px;
    display: inline-block;
}

.selected{
    font-weight: bolder;
    text-decoration: underline;
}


/********************************************************************************/



/****************************** 마이페이지 결제완료 **********************************/
#paymentDetail_table_select>select {
    height: 25px;
    width: 100px;
    float: right;
    margin: 20px 0px;
}

#paymentDetail_table>table {
    border-collapse: collapse;
    border-top: 1px solid #b9b9b9;
    width: 1050px;
}

#paymentDetail_table td, #paymentDetail_table th {
    border-bottom: 1px solid #b9b9b9;
    height: 50px;
}


#mypageMain #paging {
	margin: 20px auto;
	width: 200px;
}

#paging ul {margin: 10px 5px 10px 5px;}
#paging ul>li{
	float: left;
	margin: 0px 8px 0px 8px;
}

#paging ul>li.active{
	font-size: 14px;
	font-weight: bold;
}

/* 결제완료 모달창 테이블 */
#paymentDetail_table_item {
    padding: 20px 0px 20px 25px;
}

#paymentDetail_table_item #reservation_check_table {
    width: 1000px;
}

#myPayment_Info select {
    height: 25px;
    width: 100px;
}

#myPayment_Info input {
    height: 30px;
    width: 200px;
}

#myPayment_Info div {
    margin-bottom: 20px;
}

#myPayment_Info_Btn button {
    margin: 20px 10px 10px 0px;
}

/********************************************************************************/


/****************************** 마이페이지 파티관리 **********************************/
li.active {
    font-size: 15px;
    font-weight: bold;
    color: #000000;
    text-decoration: underline;
 }
 
 #party_table_select>select {
    height: 25px;
    width: 135px;
    float: right;
    margin: 20px 0px;
}

#partyJoin_detail_table>table {
    border-collapse: collapse;
    border-top: 1px solid #b9b9b9;
    width: 1050px;
}

#partyJoin_detail_table th {
    border-bottom: 1px solid #b9b9b9;
    height: 50px;
}

#partyJoin_detail_table td {
	height: 110px;
	border-bottom: 1px solid #b9b9b9;
} 


#mypageMain #paging {
	margin: 20px auto;
	width: 200px;
}

#paging ul {margin: 10px 5px 10px 5px;}
#paging ul>li{
	float: left;
	margin: 0px 8px 0px 8px;
}

#paging ul>li.active{
	font-size: 14px;
	font-weight: bold;
	text-decoration: none;
}

#mypage_partyManage_select {
	float: right;
	margin: 15px 0px 12px 0px;
}

#mypage_partyManage_select ul>li {
	float: left;
}

#mypage_partyManage_select ul>li:after {
	content: "│";
    margin: 0px 5px 0px 5px;
}

#mypage_partyManage_select ul>li#mypage_partyManage_select_none:after {
	content: none;
}

#mypage_partyManage_select ul>li.active {
	font-size: 15px;
	font-weight: bold;
	text-decoration: none;
}

/******************************************************************************/