@charset "UTF-8";

/* 여백 초기화 */
body, div, ul, li, dl, dt, ol, h1, h2, h3, h4, h5, h6, 
input, fieldset, legend, p, select, table, th, td, tr,
textarea, button, form {margin: 0; padding: 0;}

/*폰트 바꾸려면 여기서*/

body { font-family: 'Nanum Gothic', sans-serif; }

ul, ol	{list-style-type: none; }
a:link {text-decoration: none; color: #000000; }
a:visited {text-decoration: none; color: #000000; }
a:active {text-decoration: none; color: #000000; }
a:hover {text-decoration: none; color: #000000; }

/* 레이아웃 */
#wrap {margin: 0px auto; width: 1400px; background-color: #FFFFFF; }
#header {width: 1400px; height:100px; padding: 5px 0px 10px 0px; background-color: #FFFFFF;  }
#nav {margin:0px 0px 0px 450px;  background-color: #FFFFFF; text-align:center;}
#aside {float: left; width: 180px; margin: 20px 0px 0px 0px; background-color: #FFFFFF; }
#content {float: left; width: 1400px; margin: 20px 0px 0px 0px; background-color: #FFFFFF; border-bottom: 1px solid #b9b9b9; }
#footer {width: 1400px;  background-color: #fff;}

/* 해더(header: 로고, 로그인관련 버튼) */
#bar {float:left}

#header ul>li .btn_s {padding: 4px 6px 4px 6px;  font-size: 10px; text-align:center}

/* 네비(nav: 메인메뉴) */
#nav ul>li {left:200px;float: left; margin: 15px 0px 15px 0px; font-size: 18px; font-weight: bold; background-color: #FFFFFF;}

#logo{float: left; width:200px}

#footer {line-height: 30px; margin: 30px 0px 0px 0px; }



/* clearfix */
.clearfix{*zoom:1;}
.clearfix:before, .clearfix:after {display: block; content: ""; line-height: 0;}
.clearfix:after {clear: both;}

#login_area {
	float:right;
}
#bar>li{
	 width: 100px
}
#login_area>li{
	float:left;
	width:60px;
	height: 30px;
}

.line-right{
	border-right:1px solid #b9b9b9
}

#main_logo {
	margin: 150px 350px;
	width: 700px;
	height: 380px
}
