@charset "UTF-8";
#content_main #board {
    width: 1260px;
    margin: 0px 0px 0px 20px;
}

/* 카페테마 메인정보 */
#board #main_informa {
    height: 392px;
    border: 1px solid #e0e0e0;
}

#board #main_informa>.theme_image {
    margin: 15px 40px 0px 120px;
    float: left;
}

#board #main_informa>.title {
    margin: 15px 0px 25px 0px ;
    font-size: 22px;
    text-align: left;
}

#board #main_informa>.party_content {
    text-align: left;
    font-size: 15px;
    line-height: 26px;
    
}

.title_width {
    width: 90px;
    margin-right: 5px;
}

#together {
    padding-bottom: 50px;
    position: absolute;
}

#together_content {
    padding-bottom: 49px;
    max-width: 400px;
    word-break: break-all;
}

.btn_group {
    margin: 0px 50px 0px 0px;
}

.submit_button {
    margin-left: 10px;
}

#complete_button {
    margin-right: 250px;
}

.btn_group>.mbutton {
    margin-left: 170px;
}

#list_button { 
    padding: 5px 28px 4px 28px;
}

/* 참여현황 */
#party_list #join_situ {
    text-align: left;
    line-height: 40px;
    margin-bottom: 7px;
    margin-top: 20px;
    font-weight: bolder;
    font-size: 17px;
}

#party_list table {
   	width: 1260px;
    margin: 0px 0px 20px 20px;
    border-top: 1px solid #b9b9b9;
    border-bottom: 1px solid #b9b9b9;
}

#party_list table>thead>tr>th {
    padding:15px 0px 15px 0px;
    
}
#party_list table>tbody>tr>td {
    padding:12px 0px 12px 0px;
    border-top: 1px dotted #808080;
    text-align: center;
}


/* 대기현황 */
#hold_list #join_situ {
    text-align: left;
    line-height: 40px;
    margin-bottom: 7px;
    margin-top: 40px;
    font-weight: bolder;
    font-size: 17px;
}

#hold_list table {
    width: 1260px;
    margin: 0px 0px 20px 20px;
    margin-bottom:20px ;
    border-top: 1px solid #b9b9b9;
    border-bottom: 1px solid #b9b9b9;
    
}

#hold_list table>thead>tr>th {
    padding:15px 0px 15px 0px;
    
}
#hold_list table>tbody>tr>td {
    padding:12px 0px 12px 0px;
    border-top: 1px dotted #808080;
    text-align: center;
}

#hold_list table>tbody>tr>td>button, #party_list table>tbody>tr>td>button {
	width: 65px;
	height: 25px;
    background-color: rgb(224,224,224);
    cursor: pointer;
    color: #000;
    border: none;
    border-radius: 5px;
}

#hold_list table>tbody>tr>td>button:hover, #party_list table>tbody>tr>td>button:hover {
    background-color: rgb(253, 213, 59);
    color: #fff;
}