@charset "UTF-8";

#content_main #board {
    width: 1260px;
    margin: 0px 0px 0px 20px;
}

/* 써치써치세이마이네임 */
#board #search_area {
    margin: 0px 0px 17.5px 0px;
    font-size: 15px;
}

#search_area #party_view {
    padding: 5px 6px 5px 6px;
    margin: 0px 0px 0px 850px;
    float: left;
    font-size: 15px;
}

#kind {
    float: right;
}

#kind>input[type="text"] {
	width: 240px;
	padding: 4px 0px 4px 0px;
	margin: 0px 0px 4px 0px;
	font-size:15px;
}

#kind .checkbox {
	margin: 10px 0px 0px 0px;
}



/* 파티파티 리스트트트트 */
#board #party_list {
    margin: 0px 0px 10px 0px;
    font-size: 15px;
}

#board #party_list table {
    width: 100%;
    border-collapse: collapse;
    border-top: 1px solid #000000;
    border-bottom: 1px solid #000000;
}

#board #party_list table>thead>tr>th {
    background-color: #e0e0e0;
    padding:15px 0px 15px 0px;
    
}

#board #party_list table>tbody>tr>td {
    padding:8px 0px 5px 0px;
    border-top: 1px dotted #808080;
    text-align: center;
}

/* 페이징 등록하기 */


#board #pager ol {
width: 190px;                       
display: inline-block;
padding:15px 0px 0px 100px;

}

#board #pager ol>li {
float: left;
margin: 0px 5px 0px 0px;
}

#board #pager ol>li>a.active {

font-weight: bold;
color: #0000ff;
}

.list_hover>tr:hover {
	background-color: rgb(253, 213, 59);
    color: #fff;
}

/*페이징*/
#content_main #paging {
	margin: 0px auto;
	width: 310px;
}

#content_main #paging #page {
	margin: 20px 5px 10px 5px;
	padding-left: 90px;
}

#content_main #paging ul>li {
	float: left;
	margin: 0px 8px 0px 8px;
}

#paging #page ul>li.active {
	font-size: 14px;
	font-weight: bold;
}
