@charset "UTF-8";

/**************** 예약절차 순서 바 ****************/
#reservation_first, #reservation_second, #reservation_third, #reservation_fourth {
    float: left;
    height: 40px;
}

#reservation_first {width: 324px;}
#reservation_second {border-left: 2px solid #fff; width: 323px;}
#reservation_third {border-left: 2px solid #fff; width: 323px;}
#reservation_fourth {border-left: 2px solid #fff; width: 324px;}

.reservation_gray {background-color: rgb(224,224,224);}
.reservation_yellow {background-color: rgb(253, 213, 59);}

.reservation_num {
    float: left;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    padding-left: 10px;
    font-size: 20px;
    font-weight: bolder;
}

.reservation_txt {
    float: right;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    padding-right: 10px;
    font-weight: bolder;
}
/*************************************************/





/**************** 예약정보 고르기(헤더) ****************/
#reservation_main {
    background-color: rgb(224,224,224);
    height: 430px;
    padding: 3px;
    border-top: 2px solid #fff;
    margin-bottom: 100px;
}

#reservation_main_title_date, #reservation_main_title_region, #reservation_main_title_cafe, #reservation_main_title_thema, #reservation_main_title_time {
    height: 35px;
    float: left;
}

.reservation_main_title{
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    font-weight: bolder;
}

.reserveImpos {
	color: rgb(224,224,224);
}
/*************************************************/



/**************** 예약정보 고르기(메인 - 날짜) ****************/
#reservation_main_content_calendar {
    float: left;
    height: 280px;
    margin-top: 3px;
}

#reservation_main_content_calendar .ui-datepicker td span,
#reservation_main_content_calendar .ui-datepicker td a {
	padding: 10px 0px 10px 0px;
	text-align: center;
	font-size: 15px;
	margin: 10px 1px 0px 1px;
}

div.ui-datepicker { font-size: 15px; width: 312px; height: 387px;} 
/*************************************************/





/**************** 예약정보 고르기(메인 - 지역, 카페, 테마, 시간) ****************/
#reservation_main_content_region, #reservation_main_content_cafe,
#reservation_main_content_thema, #reservation_main_content_time {
    float: left;
    margin-top: 3px;
    line-height: 30px;
    padding-top: 10px;
}
/*************************************************/



#reservation_bar {
    margin-bottom: 20px;
}

#reservation_button {
    margin-top: 20px;
}


/**************** 예약정보 고르기(공용) ****************/
#reservation_main_title_date, #reservation_main_title_region, #reservation_main_title_cafe,
#reservation_main_title_thema, #reservation_main_title_time, #reservation_main_content_calendar,
#reservation_main_content_region, #reservation_main_content_cafe, 
#reservation_main_content_thema, #reservation_main_content_time {
    background-color: #fff;
}

#reservation_main_title_date, #reservation_main_content_calendar {
    width: 320px;
    margin-right: 3px;
}

#reservation_main_title_region, #reservation_main_content_region {
    width: 180px;
    margin-right: 3px;
}

#reservation_main_title_cafe, #reservation_main_content_cafe {
    width: 300px;
    margin-right: 3px;
}

#reservation_main_title_thema, #reservation_main_content_thema {
    width: 300px;
    margin-right: 3px;
}

#reservation_main_title_time, #reservation_main_content_time {
    width: 180px;
}

#reservation_main_content_region, #reservation_main_content_cafe, 
#reservation_main_content_thema, #reservation_main_content_time {
    height: 381px;
    overflow: auto;
}

#reservation_main_content_region::-webkit-scrollbar, #reservation_main_content_cafe::-webkit-scrollbar,
#reservation_main_content_thema::-webkit-scrollbar, #reservation_main_content_time::-webkit-scrollbar {width: 10px;}

#reservation_main_content_region::-webkit-scrollbar-track, #reservation_main_content_cafe::-webkit-scrollbar-track,
#reservation_main_content_thema::-webkit-scrollbar-track, #reservation_main_content_time::-webkit-scrollbar-track {background-color:#f1f1f1;}

#reservation_main_content_region::-webkit-scrollbar-thumb, #reservation_main_content_cafe::-webkit-scrollbar-thumb,
#reservation_main_content_thema::-webkit-scrollbar-thumb, #reservation_main_content_time::-webkit-scrollbar-thumb {background-color:rgb(224,224,224);border-radius: 10px;}

#reservation_main_content_region::-webkit-scrollbar-thumb:hover, #reservation_main_content_cafe::-webkit-scrollbar-thumb:hover,
#reservation_main_content_thema::-webkit-scrollbar-thumb:hover, #reservation_main_content_time::-webkit-scrollbar-thumb:hover {background: #555;}

/*************************************************/


/************************  예약테이블 ****************************/
#reservation_table {
    width: 1300px;
    font-size: 15px;
    border-top: 1px solid #b9b9b9;
    border-collapse: collapse;
    text-align: left;
}

#reservation_table td, #reservation_table th {
    border-bottom: 1px solid #b9b9b9;
    height: 50px;
}

#reservation_table th {
    width: 25%;
    padding-left: 20px;
}

#reservation_table td {
    width: 75%;
}

input {
    height: 30px;
    width: 200px;
}

select {
    height: 30px;
    width: 200px;
}
/****************************************************/



/************************ 팀원등록 ****************************/
.member {
    height: 220px;
}

.reservation_partyMember_info {
	height: 220px;
	width: 700px;
	line-height: 30px;
	
}

.info_item {
    float: left;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.reservation_partyMember_img {
    float: right;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.reservation_partyMember_img>img {
    width: 200px;
    height: 200px;
    margin-top: 10px;
}

.nolast {
    border-bottom: 1px solid #b9b9b9;
}

#reservation_party_text {
    font-weight: 600;
}
/****************************************************/




/************************ 정보사용동의 ****************************/
#reservation_agreement {
    margin: 30px auto 15px auto;
    font-size: 12px;
    text-align: left;
    width: 1200px;
}

label>input {
    height: 12px;
    width: 12px;
    margin-right: 5px;
}


.reservation_agreement_title {
    font-weight: 700;
}

.reservation_agreement_content {
    border: 1px solid #b9b9b9;
    width: 1200px;
    padding: 5px;
    margin: 5px 0px;
}

#nextPage {
	margin-bottom: 20px; 
}
/****************************************************/


label {
    margin-right: 30px;
}


/************************  예약완료테이블 ****************************/
#reservation_check_table {
    width: 1300px;
    font-size: 15px;
    border-top: 1px solid #b9b9b9;
    border-collapse: collapse;
    text-align: left;
}

#reservation_thema_img {
    width: 400px;
}

#reservation_check_table td, #reservation_check_table th {
    border-bottom: 1px solid #b9b9b9;
    height: 50px;
}

#reservation_check_table td>img {
    height: 270px;
    width: 200px;
    margin: 20px 70px;
}

#reservation_btn>.mbutton {
    margin: 20px 10px;
}

#reservation_btn {
    margin-left: auto;
    margin-right: auto;
}



