@charset "UTF-8";


#user_change{
    width: 100%;
}


/* 상단여백 */
#top_blank{
    margin-top: 35px;
    border-top: 5px solid rgb(253, 213, 59);
}

/* 유저 이미지 */
#user_image{
    width: 300px;
    height: 500px;
    margin-top: 100px;
    float: left;
    margin-top: 50px;
}

#user_image img{
    width: 300px;
    height: 400px;
    border: 1px solid #b9b9b9;
}


/* 이미지 변경 버튼 */
.change_button {
    margin-top: 10px;
    padding: 4px 14px 5px 14px;
    font-size: 15px;
    color: #000;
    background-color: rgb(224,224,224);
    border: none;
    border-radius: 5px;
}

.change_button:hover {
	background-color: rgb(253, 213, 59);
    color: #fff;
} 



/* 정보 변경 테이블 */
#change_informaiton{
    margin-top: 50px;
    margin-left: 100px;
    width: 650px;
    text-align: left;
    display: inline-block;
    font-size: 15px;
    border-collapse: collapse;
    text-align: left;
}

#change_informaiton th{
    width: 35%;
    font-size: 16px;
}


#change_informaiton td{
    padding-left: 20px;
}


#change_informaiton tr{
    height: 60px;
    border-bottom: 1px solid #b9b9b9;
    border-top: 1px solid #b9b9b9;
}

#change_informaiton input,#change_informaiton select{
    line-height: 30px;
}

#change_informaiton select{
    height: 34.5px;
    padding-bottom: 1px;
}

#change_informaiton button{
    padding: 4px 14px 5px 14px;
    border: 1px solid #808080;
    background-color: rgb(224,224,224);
    border-radius: 2px;
    font-size: 15px;
    border-radius: 5px;
    border: none;
}

#change_informaiton button:hover{
    background-color: rgb(253, 213, 59);
    color: #fff;
}


/* 수정완료 / 취소 버튼 */
#user_infom_finish{
    margin-top: 50px;
    margin-left: -90px;
    margin-bottom: 30px;
}


.finish_button {
    margin-top: 10px;
    margin-left: 20px;
    padding: 4px 14px 5px 14px;
    border: 1px solid #808080;
    background-color: rgb(224,224,224);
    border-radius: 2px;
    font-size: 15px;
    border-radius: 5px;
    border: none;
    }
    
.finish_button:hover {
    background-color: rgb(253, 213, 59);
    color: #fff;
}


