@charset "UTF-8";


#loginForm .btn {
	width: 100%;
	border: 1px solid #808080; 
	background-color: rgb(253, 213, 59); 
	border-radius: 5px;
	padding: 12px 15px 12px 15px;
	font-size: 13px;
	cursor: pointer;
}

#btnArea {margin:30px 0px 0px 0px; padding: 10px;  }

/* 로그인 */
#loginForm { 
	width:300px; 
	margin: 20px auto; 
	padding-top: 220px; 
}

#loginForm #textId {width: 160px; height: 30px; }
#loginForm #textPassword {width: 160px; height: 30px; }
#loginForm #tdMsg {padding-top: 20px; text-align: center; }


#joinForm {width: 400px; margin: 0px auto; padding: 20px; border: 1px solid #B7B7B7; }
#joinForm #txtId {width: 190px; height: 20px; }
#joinForm #tdMsg {padding-top: 0px; }
#joinForm #txtPassword {width: 190px; height: 20px; }
#joinForm #txtUserName {width: 190px; height: 20px; }
#joinForm #chkAgree {width: 15px; height: 15px; }
#joinForm .txtEmail {width: 80px; height: 20px;}
#joinForm .txtNickName {width: 190px; height: 20px; }
#joinForm .txtPhoneNumber{ width: 190px; height: 20px;}
.joinSelect {
	height:25px;
}

#joinForm  { 
	width: 420px; 
	margin: 20px auto; 
	padding-top: 20px;
	margin-top: 150px; 
}



.checkbutton{ padding:5px 3px; }

#joinForm>table {
	margin-bottom: 15px;
	border-spacing: 9px;
	text-align:left;
}


.mbutton{
	text-align: center;
}

#joinSuccess{
	margin-top: 170px;
}